@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 30%;
	display: inline-block;
	background: #f9f9f9;
	height: 250px;
	min-height: 250px;
	max-height: 250px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #bebebe00;
	margin: 20px;
}

.container:hover {
	box-shadow: 0px 0px 20px #a7a7a7;
}

.img {
	width: 25%;
	object-fit: contain;
}

.coffee-img {
	border-radius: 47%;
}

.content {
	width: 60%;
	margin: auto;
	margin-right: 35px;
	margin-top: -100px;
}

.title {
	font-size: 1.2rem;
	font-weight: 600;
	padding: 1px;
}

.quantity {
	font-size: 0.8rem;
	font-weight: 400;
	padding: 1px;
}

.price {
	font-size: 1.2rem;
	font-weight: 600;
	padding: 1px;
}

.description {
	font-size: 0.8rem;
	font-weight: 400;
	padding: 1px;
}

.final {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.type {
	font-size: 0.8rem;
	font-weight: 400;
	color: #cca55e;
}

.cart {
	margin-right: -25px;
	background-color: grey;
	color: white;
	padding: 8px;
	border-radius: 15px;
	font-size: 0.8rem;
}

.btn {
	margin-top: 10px;
}

.board {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	height: 80vh;
	background-color: #f9f9f9;
	width: 40%;
	box-shadow: 0px 0px 20px rgb(89, 89, 89);
	z-index: 20;
	border-radius: 12px;
}

.beverage {
	height: 60vh;
	background-color: #f9f9f9;
	width: 30%;
	border-radius: 12px;
	box-shadow: 0px 0px 10px rgb(89, 89, 89);
}

.food {
	height: 60vh;
	background-color: #f9f9f9;
	width: 30%;
	border-radius: 12px;
	z-index: 1;
	box-shadow: 0px 0px 10px rgb(89, 89, 89);
}
